<script id="highlight_clip_js" src="<%= url("js/highlight_clip.js") %>" type="text/javascript"></script>
<div class="<%=params['id']%>" id="reel-id-div"></div>
<div class="<%=@clip.gfycat_gfy_id%>" id="clip-id-div"></div>
<h3><%=@clip.gfycat_gfy_id%></h3>(<%=@clip_count%> clips chosen)<p/>
<video class="video media" id="video-<%= @clip.gfycat_gfy_id %>" alt="fencing gfy" autoplay muted loop poster="https://thumbs.gfycat.com/<%= @clip.gfycat_gfy_id %>-mobile.jpg" tabindex="-1">
    <source src="https://thumbs.gfycat.com/<%= @clip.gfycat_gfy_id %>-mobile.mp4" type="video/mp4"><source src="https://giant.gfycat.com/<%= @clip.gfycat_gfy_id %>.webm" type="video/webm">
    <source src="https://giant.gfycat.com/<%= @clip.gfycat_gfy_id %>.mp4" type="video/mp4">
    <source src="https://thumbs.gfycat.com/<%= @clip.gfycat_gfy_id %>-mobile.mp4" type="video/mp4">
    <meta itemprop="contentUrl" content="https://giant.gfycat.com/<%= @clip.gfycat_gfy_id %>.mp4">
</video>
<p>
    Hit the left arrow key or n to reject the clip, hit the right arrow key or y to keep it.  Hit the down arrow key to look at it again later.
</p>
<form id="submitForm">
        
