<link rel="stylesheet" type="text/css" href="<%=url("css/search.css")%>" >
<div name="touches" class="touches">
    <div class="touches-filter">
        <form class="search-filter-form" id="touches-filter-form" action="/search" method="POST">
            <%= erb :search_form_partial %>
            <div class="search-submit">
                <input type="submit" name="submit-search" value="Search Fencers" class="submit-btn btn btn-default btn-lg" />
                <input type="submit" name="submit-search" value="Search Clips" class="submit-btn btn btn-default btn-lg" />
            </div>
        </form>
    </div>
    <div class="touches-display">
        <% if params['page'] %>
            <div class="touches-pagination">
                <% if params['page'].to_i > 1 %>
                    <a href="/?<%=@get_string%>&page=<%=params['page'].to_i - 1%>"><button class="btn btn-lg paginate-btn paginate-prev">Prev</button></a>
                <% end %>
                <% if @gfycats.length >= 10 %>
                    <a href="/?<%=@get_string%>&page=<%=params['page'].to_i + 1%>"><button class="btn btn-lg paginate-btn paginate-next">Next</button></a>
                <% end %>
            </div>
        <% end %>
        <% unless @fencers.empty? %>
            <div class="fencers">
                <%= erb :fencer_list_partial %>
            </div>
        <% end %>
        <div class="videos">
            <% @gfycats.each do |gfy| %>
                <div class="video">
                <a href="/clip?gfycat_gfy_id=<%= gfy %>">
                    <video class="media" id="video-<%= gfy %>" alt="fencing gfy" autoplay muted loop poster="https://thumbs.gfycat.com/<%= gfy %>-mobile.jpg" tabindex="-1">
                        <source src="https://thumbs.gfycat.com/<%= gfy %>-mobile.mp4" type="video/mp4"><source src="https://giant.gfycat.com/<%= gfy %>.webm" type="video/webm">
                        <source src="https://giant.gfycat.com/<%= gfy %>.mp4" type="video/mp4">
                        <source src="https://thumbs.gfycat.com/<%= gfy %>-mobile.mp4" type="video/mp4">
                        <meta itemprop="contentUrl" content="https://giant.gfycat.com/<%= gfy %>.mp4">
                    </video>
                </a>
                </div>
            <% end %>
        </div>
        <% if params['page'] %>
            <div class="touches-pagination">
                <% if params['page'].to_i > 1 %>
                    <a href="/?<%=@get_string%>&page=<%=params['page'].to_i - 1%>"><button class="btn btn-lg paginate-btn paginate-prev">Prev</button></a>
                <% end %>
                <% if @gfycats.length >= 10 %>
                    <a href="/?<%=@get_string%>&page=<%=params['page'].to_i + 1%>"><button class="btn btn-lg paginate-btn paginate-next">Next</button></a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
