<div name="stats">
    <div class="wip-banner">
        *WIP* Want to help improve this page?  <a href="/clip">Review a clip!</a>
    </div>
    <form class="stats-filter form-inline" id="stats-filter-form" action="stats">
        <label for="weapon-filter" class="form-question h4">Weapon: </label>
        <select class="form-control" name="weapon-filter">
            <% ["all", "epee", "sabre"].each do |weapon| %>
                <% selected = weapon == params["weapon-filter"]? "selected" : '' %>
                <option name="<%= weapon %>" <%= selected %> value="<%= weapon %>"><%= weapon.capitalize %></option>
            <% end %>
        </select>
        <label for="gender-filter" class="form-question h4">Gender: </label>
        <select class="form-control" name="gender-filter">
            <% ["all", "male", "female"].each do |gender| %>
                <% selected = gender == params["gender-filter"]? "selected" : '' %>
                <option name="<%= gender %>" <%= selected %> value="<%= gender %>"><%= gender.capitalize %></option>
            <% end %>
        </select>
        <br />
        <label for="tournament-filter" class="form-question h4">Tournament: </label>
        <select class="form-control" name="tournament-filter">
            <option name="tournament-filter" id="all" value="all">All</option>
            <%  @tournaments.each do |tournament| %>
                <% if tournament.tournament_id == params['tournament-filter'] %>
                    <option name="tournament-filter" id="<%= tournament.id %>" value="<%= tournament.tournament_id %>" selected><%= tournament.tournament_name + ", " + tournament.tournament_year%></option>
                <% else %>
                    <option name="tournament-filter" id="<%= tournament.id %>" value="<%= tournament.tournament_id %>"><%= tournament.tournament_name + ", " + tournament.tournament_year + " (#{tournament.weapon})"%></option>
                    <% end %>
            <% end %>
        </select>
        <br />
        <input type="submit" value="Submit" class="btn btn-default "/>
    </form>
    <div name="total-responses" class="stats">
        Total responses: <%= @total %><br/>
    </div>
    <% if @current_user_responses %>
        <div class="personal-responses">
            You've rated <%= @current_user_responses %> clips.  Thanks for your help!
        </div>
    <% end %>
    <div name="stats-strip-location" class="stats">
        Most touches occur on <%= @most_popular_location %> of the strip<br />
    </div>
    <div name="stats-hit-location" class="stats">
        Most people get hit on the <%= @most_popular_hit %> <br />
    </div>
    <br/>
    <div id="heatmap" class="heatmap">
        <div id="fotl-warning-box" class="heatmap-segment" style="background-color:<%= @color_map['fotl_warning_box'] || '#FFFFFF'%>;"></div>
        <div id="fotl-half" class="heatmap-segment" style="background-color:<%= @color_map['fotl_half'] || '#FFFFFF'%>;"></div>
        <div id="middle" class="heatmap-segment" style="background-color:<%= @color_map['middle'] || '#FFFFFF'%>;"></div>
        <div id="fotr-half" class="heatmap-segment" style="background-color:<%= @color_map['fotr_half'] || '#FFFFFF'%>;"></div>
        <div id="fotr-warning-box" class="heatmap-segment" style="background-color:<%= @color_map['fotr_warning_box'] || '#FFFFFF'%>;"></div>
    </div>
</div>
