
<div name="stats">
    <form class="stats-filter form-inline" id="stats-filter-form" action="stats">
        <label for="tournament-filter" class="form-question h4">Tournament: </label>
        <select class="form-control" name="tournament-filter">
            <%  @tournaments.each do |tournament| %>
                <option name="tournament-filter" id="<%= tournament %>" value="<%= tournament %>"><%= tournament.to_s.capitalize %></option>
            <% end %>
        </select>
        <br/>
        <label for="fencer-filter" class="form-question h4">Fencer name: </label>
        <select class="form-control" name="fencer-filter">
            <%  @fencer_names.each do |fencer_name| %>
                <option name="fencer-filter" id="<%= fencer_name %>" value="<%= fencer_name%>"><%= fencer_name.to_s.capitalize %></option>
            <% end %>
            <input type="submit" value="Submit" class="btn btn-default "/>
    </form>
    <div name="total-responses" class="stats">
        Total responses: <%= @total %><br/>
    </div>
    <div name="stats-strip-location" class="stats">
        Most touches occur on <%= @most_popular_location %> of the strip<br />
    </div>
    <div name="stats-hit-location" class="stats">
        Most people get hit on the <%= @most_popular_hit %> <br />
    </div>
    <br/>
    <div id="heatmap" class="heatmap">
        <div id="fotl-warning-box" class="heatmap-segment" style="background-color:<%= @color_map['fotl_warning_box'] || '#FFFFFF'%>;"></div>
        <div id="fotl-half" class="heatmap-segment" style="background-color:<%= @color_map['fotl_half'] || '#FFFFFF'%>;"></div>
        <div id="middle" class="heatmap-segment" style="background-color:<%= @color_map['middle'] || '#FFFFFF'%>;"></div>
        <div id="fotr-half" class="heatmap-segment" style="background-color:<%= @color_map['fotr_half'] || '#FFFFFF'%>;"></div>
        <div id="fotr-warning-box" class="heatmap-segment" style="background-color:<%= @color_map['fotr_warning_box'] || '#FFFFFF'%>;"></div>
    </div>
</div>
