<div name="touches" >
    <div class="touches-filter-form">
        <form class="form-inline" id="touches-filter-form" action="touches" >
            <label for="fencer-filter" class="form-question h4">Select Fencers: </label>
            <select class="form-control" name="fencer-filter">
                <% @fencers.each do |fencer| %>
                    <option name="fencer-filter" id="<%=fencer.name %>" value="<%=fencer.id%>"> <%=fencer.name%></option>
                <% end %>
            </select>
            <br />
            <label for="nationality-filter" class="form-question h4">Select Nationalities: </label>
            <select class="form-control" name="nationality-filter">
                <% @nationalities.each do |nationality| %>
                    <option name="nationality-filter" id="<%=nationality %>" value="<%=nationality%>"> <%=nationality%></option>
                <% end %>
            </select>
            <br />
            <label for="strip-location-filter" class="form-question h4">Select Strip Locations: </label>
            <select class="form-control" name="strip-location-filter">
                <% @strip_locations.each do |strip_location| %>
                    <option name="strip-location-filter" id="<%=strip_location%>" value="<%=strip_location.downcase.gsub(" ", "_")%>"> <%=strip_location%></option>
                <% end %>
            </select>
            <br />
            <input type="submit" value="Filter" class="btn btn-default btn-lg" />
        </form>
    </div>
</div>
