<div name="touches" >
    <div class="touches-filter-form">
        <form class="form-inline" id="touches-filter-form" action="touches" >
            <label for="lastname" class="form-question h4">Last Name: </label>
            <input type="text" id="lastname" name="lastname" />
            <label for="firstname" class="form-question h4">First Name: </label>
            <input type="text" id="firstname" name="lastname" />
            <label for="score-fencer" class="form-question h4">Fencer's Score: </label>
            <select id="score-fencer" name="score-fencer">
                <option id="score-fencer" value="any">Any</option>
            <% 1.upto 15 do |score| %>
                <option id="score-fencer" value="<%=score%>"><%=score%></option>
            <% end %>
            <option id="score-fencer" value="highest">Highest</option>
            </select>
            <label for="score-opponent" class="form-question h4">Opponent's Score: </label>
            <select id="score-opponent" name="score-opponent">
                <option id="score-opponent" value="any">Any</option>
                <% 1.upto 15 do |score| %>
                    <option id="score-opponent" value="<%=score%>"><%=score%></option>
                <% end %>
                <option id="score-opponent" value="highest">Highest</option>
            </select>
            <input type="submit" value="Filter" class="btn btn-default btn-lg" />
        </form>
    </div>
    <div class="touches-display">
        <% @gfycats.each do |gfy| %>
            <div class='gfyitem' data-id='<%= gfy %>' data-max-height="500" data-responsive="true"></div>
    </div>
</div>
